/* rem and em so not depend on html font-size in media queries:
1 rem (root font size) = 1em (current font size)  = 16px 
(rem has bugs in some browsers so should use em in media queries) */


/* ********************************* */
/* LESS THAN 1344px (smaller desktops)*/
/* ********************************* */

@media (max-width: 84em) {
    /* 1344/16 = 84em */
    .hero {
        max-width: 120rem;
    }

    .heading-primary {
        font-size: 4.4rem; 
    }

    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* ********************************* */
/* LESS THAN 1200px (Landscape tablets)*/
/* ********************************* */
@media (max-width: 75em) {
    html {
        /* 9px / 16px = 56.25% */
        font-size: 56.25%;
    }

    .heading-secondary {
        font-size: 3.6rem;
    }

    .heading-tertiary {
        font-size: 2.4rem;
    }

    .grid {
        column-gap: 5.2rem;
        row-gap: 6.4rem;
    }

    .header {
      padding: 0 3.2rem;  
    }

    .main-nav-list {
        gap: 3.2rem;
    }

    .hero {
        gap: 4.8rem;
    }

    .testimonials-container {
        padding: 9.6rem 3.2rem;
    }
}


/* ********************************* */
/* LESS THAN 960px (Tablets) */
/* ********************************* */
@media (max-width: 60em) {
    html {
        /* 8px / 16px */
        font-size: 50%;
    }

    /* hero section */
    .hero {
        grid-template-columns: 1fr;
        padding: 0 8.0rem;
        gap: 6.4rem;
    }

    .hero-img {
        width: 60%;
    }

    .hero-text-box {
        text-align: center;
    }
    
    .hero-img-box {
        text-align: center;
    }

    .delivered-meals {
        justify-content: center;
        margin-top: 3.2rem;
    }

    /* As featured in logos */
    .logos img {
        height: 2.4rem;
    }

    /* how it works */
    .step-number {
        font-size: 7.4rem;
    }

    .meal-content {
        padding: 2.4rem 3.2rem 3.2rem 3.2rem;
    }

    /* testimonials */
    .section-testimonials {
        grid-template-columns: 1fr;
    }

    .gallery {
        grid-template-columns: repeat(4, 1fr);
    }

    /* pricing */
    .pricing-plan {
        width: 85%;
    }

    /* call to action */
    .cta {
        grid-template-columns: 3fr 2fr;
    }

    .cta-form {
        grid-template-columns: 1fr;
    }

    .btn--form {
        margin-top: 1.2rem;
    }

    /* mobile navigation */
    .btn-mobile-nav {
        display: block;
    }

    .main-nav {
        background-color: rgba(255, 255, 255, 0.95);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;

        /* move all the way to right */
        transform: translateX(100%);

        display: flex;
        align-items: center;
        justify-content: center;

        transition: all 0.5s;

        /* Hide navigation */
        /* allows no transitions: */
        /* display: none; */

        /* 1) Hide element visually */
        opacity: 0;

        /* 2) Make it inaccessible to keyboard or mouse */
        pointer-events: none;

        /* 3) Hide from screen readers */
        visibility: hidden;
    }

    /* Nav is open */
    .nav-open .main-nav {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;

        /* move all the way to left*/
        transform: translateX(0);
    }

    .nav-open .icon-mobile-nav[name="close-outline"] {
        display: block;
    }

    .nav-open .icon-mobile-nav[name="menu-outline"] {
        display: none;
    }

    .main-nav-list {
        flex-direction: column;
        gap: 4.8rem;
    }

    .main-nav-link:link,
    .main-nav-link:visited {
        font-size: 3rem;
    }

}


/* ********************************* */
/* LESS THAN 704px (Smaller Tablets) */
/* ********************************* */
@media (max-width: 44em) {
    .grid--3-cols, .grid--4-cols {
        grid-template-columns: repeat(2, 1fr); 
    }

    /* featured in */
    .logos img {
        height: 2.0rem;
    }

    .diets {
        /* Center the diets section in 2nd row of grid */
        grid-column: 1 / -1;
        justify-self: center;
    }

    .heading-secondary {
        margin-bottom: 4.8rem;
    }

    .pricing-plan {
        width: 100%;
    }

    /* Footer */
    /* Change to 6 cols to deal with asymmetric grid */
    .grid--footer {
        grid-template-columns: repeat(6, 1fr);
    }

    .nav-col {
        /* move these 3 columns to first row of grid*/
        grid-row: 1;
        grid-column: span 2;
        margin-bottom: 3.2rem;
    }

    .logo-col,
    .address-col {
        grid-column: span 3;
    }
}
    



/* - Font sizes (px):
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */
